# Spring Boot configuration
spring:
  application:
    name: event

  # Database
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/event
    username: postgres
    password: postgres
  # JPA properties
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    generate-ddl: true
  # Kafka producer properties
  kafka:
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: ${serializer}
      value-serializer: ${serializer}

serializer: org.apache.kafka.common.serialization.StringSerializer

event:
  topic:
    name: event-updates

# Logger configuration
logging:
  pattern:
    console: "%d %-5level %logger : %msg%n"
  level:
    org.springframework: info
    org.hibernate: debug

# Server configuration
server:
  port: 8081
  error:
    include-binding-errors: always
    include-message: always

# Eureka
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true

# API Docs
springdoc:
  api-docs:
    path: /api/v1/event/api-docs